body > div {
    background-color: blanchedalmond;
    position: relative; 
    height: 2000px;
    width: 500px;
}

/* Position and Selector Section ---------------------- */

.children {
    height: 100px;
    width: 100px;
    border: 5px solid black;
}

#box1 {
    background-color: red;
    position: relative;
    top: 15px;
    left: 15px;
    z-index: 2;
}

#box2 {
    background-color: yellow;
    position: absolute;
    top: 10px;
    right: 0px;
}

#box3 {
    background-color: green;
    position: sticky;
    top: 5px;
    z-index: 1;
}

/* Article Section ------------------------------------ */

div article {
    color: steelblue;
}

/* Inline and Block Section --------------------------- */

#inline-section {
    background-color: aqua;
}

#inline-section > div {
    background-color: blue;
    display: inline;
    border: 5px dotted black;
    color: white;
}

#ib-section {
    background-color: greenyellow;
}

#ib-section > div {
    background-color: green;
    border: 5px dotted black;
    display: inline-block;
    color: white;
    height: 50px;
    width: 50px;
}

/* Flex Section --------------------------------------- */
/* To test flex-wrap, uncomment the flex-wrap attribute below and make the width of flex-section be 200px. */

#flex-section {
    background-color: palevioletred;
    height: 300px;
    width: 200px;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
}

#flex-section > div {
    background-color: red;
    height: 100px;
    width: 100px;
}

/* Baseline Section ----------------------------------- */

#baseline-section {
    background-color: brown;
    display: flex;
    align-items: baseline;
}

#baseline-section > div {
    background-color: orange;
    display: flex;
    align-items: center;
    width: 50px;
}

#tall {
    height: 150px;
}

#short {
    height: 100px;
}

#medium {
    height: 125px;
}

/* Content and Border Box Section --------------------- */

#content-box {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    border: solid blue 10px;
    padding: 5px;
    background-color: yellow;
}

#border-box {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: solid blue 10px;
    padding: 5px;
    background-color: yellow;
}

/* Footer Section ------------------------------------- */

footer {
    background-color: blueviolet;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
}