body > div {
    background-color: blanchedalmond;
    position: relative; 
    height: 2000px;
    width: 500px;
}

/* Position and Selector Section ---------------------- */

.children {
    height: 100px;
    width: 100px;
    border: solid black 5px;
}

#box1 {
    background-color: red;
    position: relative;
    top: 15px;
    left: 15px;
    z-index: 2;
}

#box2 {
    background-color: yellow;
    position: absolute;
    top: 30px;
    right: 30px;
}

#box3 {
    background-color: green;
    position: sticky;
    top: 5px;
    z-index: 1;
}

/* Inline Section --------------------------- */

#inline-section {
    background-color: aqua;
} 

#inline-section > div {
    background-color: blue;
    display: inline;
    border: dotted black 5px;
}

/* Inline Block Section --------------------------- */

#ib-section {
    background-color: chartreuse;
}

#ib-section > div {
    background-color: green;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: dashed black 5px;
}

/* Flex Section --------------------------------------- */
/* To test flex-wrap, uncomment the flex-wrap and width attributes. Since the divs inside of the flex-section are 300px total and the width of flex-section is only 200px, it will move the third div down onto another row. */

#flex-section {
    background-color: palevioletred;
    height: 300px;
    /* width: 200px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

#flex-section > div {
    background-color: red;
    height: 100px;
    width: 100px;
}

/* Baseline Section ----------------------------------- */

#baseline-section {
    background-color: brown;
    display: flex;
    align-items: baseline;
}

#baseline-section > div {
    background-color: orange;
    border: solid white 5px;
    display: flex;
    align-items: center;
}

#tall {
    height: 150px;
}

#short {
    height: 100px;
}

#medium {
    height: 125px;
}

/* Content and Border Box Section --------------------- */

#content-box {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    border: solid blue 10px;
    padding: 5px;
    background-color: yellow;
}

#border-box {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: solid blue 10px;
    padding: 5px;
    background-color: yellow;
}

/* Footer Section ------------------------------------- */

footer {
    background-color: blueviolet;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}